= form_with(model: board, local: true) do |form|
  .form-group
    = form.text_field :name, placeholder: "Enter board name"
  .form-group
    = form.text_area :description, placeholder: "Enter board description"
  .actions
    = form.submit
